<div class="row text-center">
	<div class="col-md-6 offset-3">
		<h1 class="text-info">Unavailable Resource</h1><br />
		<a asp-controller="Movies" asp-action="Index" class="btn btn-outline-info">Back To Home</a>
	</div>
</div>